<%- include('../components/header', {}); %>
<main>
    <div class="section section__title section__fullpage">
        <h1>Bruno Marques</h1>
        <p><span class="baffle">Web Developer</span></p>
        <div data-aos="fade-right" class="social-links">
            <% social[0].links.map(link => {%>
                <a href="<%= link.url %>" title="<%= link.title %>" target="_blank"><i class="fab <%= link.icon %>"></i></a>
            <% }); %>
        </div>
    </div>
    <div class="section section__darker">
        <div class="section__darkness-overlay"></div>
        <div class="about-me-container">
            <div data-aos="fade-right" class="about-me-container__content">
                <h1>About Me</h1>
                <p>
                    I'm a game / web developer living in São Paulo (Brazil), currently working as a Full Stack Developer. Check out my skills and projects below: 
                </p>
                <div class="stats-wrapper">
                    <div class="icons-block-wrapper">
                        <% skills[0].categories.map(cat => { %>
                            <div class="icons-block">
                                <p class="icons-category"><%= cat.title %></p>
                                <% cat.skills.map(skill => { %>
                                    <i class="<%= skill.icon %>" title="<%= skill.title %>"></i>
                                <% }); %>
                            </div>
                        <% }); %>
                    </div>
                    <div class="user-stats">
                        <p class="stats-title">Github Stats</p>
                        <ul class="top-langs">
                            <li>
                                <i class="far fa-star"></i>
                                <p>Total stars</p>
                                <span>35</span>
                            </li>
                            <li>
                                <i class="fas fa-history"></i>
                                <p>Total stars</p>
                                <span>35</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div data-aos="fade-up" id="photo-liquid"></div>
        </div>
        <div class="filter-container">
            <button type="button" class="btn btn__active btn--filter" data-filter="*">All</button>
            <button type="button" class="btn btn--filter" data-filter=".web-development">Web Development</button>
            <button type="button" class="btn btn--filter" data-filter=".game-development">Game Dev</button>
            <button type="button" class="btn btn--filter" data-filter=".modeling">3D Modeling</button>
            <button type="button" class="btn btn--filter" data-filter=".uiux">UI / UX</button>
        </div>
        <div class="work-container">
            <% projects.sort((a, b) => new Date(b.date * 1000) - new Date(a.date * 1000)).map((project) => { %>
                <div class="work-container__item <%= project.categories.reduce((acc, c) => `${c} ${acc}`, '') %>">
                    <div class="work-container__item--thumbnail">
                        <img src="<%= project.thumbnail %>" alt="<%= project.title %>">
                    </div>
                    <a href="<%= project.externalLink ? project.externalLink : "#" %>" 
                        class="work-container__item--link <%= !project.externalLink ? "open-modal" : "" %>"
                        <%= project.externalLink ? "target=\"_blank\"" : ""%>>
                        <h2><%= project.title %></h2>
                        <p><%= project.description %></p>
                        <div class="icon-area">
                            <% for (let lang of project.langs) { %>
                                <i class="devicon-<%= lang %> "></i>
                            <% } %>
                        </div>
                    </a>
                    <% if (!project.externalLink) { %>
                        <%- include('../components/modal', { project }); %>
                    <% } %>
                </div>
                <% }); %>
        </div>
    </div>
</main>
<div class="modal-background"></div>
<div class="modal-wrapper"></div>